@tailwind base;
@tailwind components;
@tailwind utilities;

.HomeHeading {
  font-family: "Dongle", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Source Serif 4", serif;
  font-display: swap;
}

body {
  /* background-color: #272727; */
  background-color: #ffffff;
}
